##### sheet.html #####

{% extends "layout.html" %}

{% block main %}

<table class = "table">
    <thread>
        <th scope = "col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Update</th>
    </thread>

    <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student["First"]}}</td>
          <td>{{ student["Last"]}}</td>
          <td>{{ student["Email"]}}</td>
          <td>{{ student["Update"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}